PORT=3000
NODE_ENV=production
CORS_ORIGIN=https://tu-frontend.azurestaticapps.net
MS_VEHICULOS_URL=https://ms-vehiculos.azurewebsites.net
MS_RESERVAS_URL=https://ms-reservas.azurewebsites.net
MS_ADMIN_URL=https://rentcar-ec-api.azurewebsites.net
