DATABASE_URL="postgresql://usuario:password@host:5432/rentcar_ec"
DIRECT_URL="postgresql://usuario:password@host:5432/rentcar_ec"
PORT=3001
NODE_ENV=production
BOOKING_SYSTEM_USER_ID=711311b1-f0e5-40e6-be37-bd401db3d0f2
BOOKING_API_KEY=bk_rentcar_2025_x9z3m7qp
